.center {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box {
  margin-bottom: 15px;
}

.details {
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 3px;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  background-color: #e6e6e6;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #45a049;
}

.qr-code-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wifi-name {
  margin-top: 50px;
  font-size: 18px;
  font-weight: bold;
}

body {
  background-color: #eeefe4;
}

.center-card-shadow {
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  width: 30%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.center-card-shadow:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}